@charset "UTF-8";

body{
    margin: 0px;
    background-color: ;
    font-family: "Josefin Sans", sans-serif;
    padding: 50px;
    background-color:#f9f7ef;
}

.figuras{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.figuras h2{
    text-align: center;
}

.figuras_container{
    padding: 15px;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px #999;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    width: 450px;
    border-radius: 20px;
    
}

.figuras_container input{
    font-family: "Josefin Sans", sans-serif;
    border-radius: 5px;
    font-size: 16px;
    margin: 6px;
    background-color:#f9f7ef;
}

.figuras_container--button{
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    height: 30px;
    letter-spacing: 1px;
    margin: 5px 0px;
}

.figuras_container--button:hover {
    color: white;
    background-color: black;
  }

.figuras_container div{
    margin: 10px;
    height: 50px;
    padding: 20px;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .figuras {
      background-color: transparent;
      border: none;
      padding: 0;
      width: 100€;
    }
  }