@charset "UTF-8";



.salarios{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.salarios h2 h4{
    margin-top: 30px;    
}

.salarios_container{
    padding: 15px;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px #3C415C;
    align-items: center;
    justify-content: space-around;
    height: 550px;
    width: 450px;
    border-radius: 20px;    
}

.salarios_container input{
    font-family: "Josefin Sans", sans-serif;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px 0px;
    background-color:#151515;
    color:#B4A5A5;
    box-shadow: 2px 2px 5px #3C415C;
}

.salarios_botones{
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

.salarios_container--button{
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;    
    letter-spacing: 1px;
    margin: 8px 0px;
    width: 200px;
}

.salarios_container--button:hover {
    color: #B4A5A5;
    background-color: #151515;
  }

.salarios_container div{    
    height: 30px;
    padding: 5px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .salarios {
      background-color: transparent;
      border: none;
      padding: 0;
      width: 100€;
    }
  }